<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div style="background-color:black; width: 612px; height: 792px;">
    <div style="padding-top:21px; margin-left: 15px; margin-right:15px;">
        <div style="width: 582px; height: 754px; background-image: url('https://ifh.cc/g/fYoHzl.png')">
            <div style=" padding-top: 440px; padding-left: 61px; padding-right: 61px; padding-bottom: 319px;">
                <span style=" font-size: 17px;  font-family: 'Nanum Gothic', sans-serif; alignment: center;" th:text="${massage}"></span>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>